<style>
    *{
        font-family: 'Play', sans-serif;
    }
</style>
<div class="tecno-web" style="display: grid; grid-template-columns: 48% 48%; gap: 4%; margin: 0px 50px;">
    <div>
        <img [src]="image" alt="Campo laboral" style="width: 100%;">
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div>
            <h2>Campo laboral</h2>
            <h3>Desarrollador Web</h3>
            <p>Los Desarrolladores Web diseñan, crean y realizan mantenimiento a páginas y aplicaciones web, en tal sentido, trabajan en sitios de internet y de intranet. Por lo general, son empleados por empresas especializadas en el desarrollo de programas especializados o en consultoría informática. Estos profesionales tienen la opción de trabajar directamente para la corporación o de manera independiente o a destajo.</p>
            <div style="display: flex; justify-content: end;"><a href="https://neuvoo.com.mx/neuvooPedia/es/desarrollador-web/#:~:text=Los%20Desarrolladores%20Web%20dise%C3%B1an%2C%20crean,especializados%20o%20en%20consultor%C3%ADa%20inform%C3%A1tica.">Saber más</a></div>
        </div>
    </div>
</div>