<style>
    *{
        font-family: 'Play', sans-serif;
    }
</style>
<div style="display: grid; grid-template-columns: 48% 48%; gap: 4%; margin: 50px 50px;">
    <div style="display: flex; align-items: center; justify-content: center;">
        <div>
            <h2>Características comunes para todos los productos web</h2>
            <h3>Todos los productos web dan como resultado:</h3>
            - Páginas web optimizadas para posicionamiento en buscadores, de serie, gracias a direcciones web amigables, control total sobre títulos de página y metacontenido (meta tags), sitemap integrado y actualizado dinámicamente, o su código optimizado y compactado para la máxima velocidad de navegación, entre otras características.
            <br>- Páginas web estándar, utilizando la tecnología más compatible para visualizarse correctamente en los navegadores más utilizados y dispositivos móviles.
            <br>- Páginas web dinámicas, con núcleo modular que permite extender su funcionalidad según la necesidad, sin límite de número de páginas o archivos (sólo según capacidad del alojamiento web), e incluyendo en todos los casos gestor de contenidos.
            <br>- Páginas web completas, porque desarrollar un sitio web no sólo es dibujarlo. Asistencia técnica para el posicionamiento en buscadores, elaboración de contenidos, traducción de textos, etre otros.<br><br>
            <div style="display: flex; justify-content: end;"><a href="https://www.tiendanube.com/blog/mx/caracteristicas-de-las-paginas-web/">Ver más</a></div>
        </div>
    </div>
    <div>
        <img [src]="image" alt="Caracteristicas" style="width: 100%;">
    </div>
</div>
