<style>
    *{
        font-family: 'Play', sans-serif;
    }
</style>
<div class="tecno-web" style="display: grid; grid-template-columns: 48% 48%; gap: 4%; margin: 0px 50px;">
    <div>
        <img [src]="image" alt="Tecnologias web" style="width: 100%;">
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div>
            <h2>Introducción de la asignatura</h2>
            <h3>Tecnologías Web</h3>
            En la actualidad toda institución requiere interactuar de menor a mayor manera con las
            nuevas tecnologías de información y comunicación siendo el uso de las tecnologías online
            una herramienta primordial para incorporar a la institución en el nuevo enfoque de
            mercado laboral y competitividad empresarial. El buen manejo de las tecnologías online
            proporciona una ventaja competitiva a los profesionales e instituciones que hacen uso
            efectivo de estas tecnologías.<br><br>
            <div style="display: flex; justify-content: end;"><a href="https://www.codigosinformaticos.com/tecnologia-web-que-es-para-que-sirve/">Saber más</a></div>
        </div>
    </div>
</div>
